body {
    display: block;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
}
header{
	
	/*grid-template-columns: 80% 20%;*/
/*	grid-template-rows:200px;*/
	/*grid-template-rows: 50px 50px 50px 50px;*/
	margin-bottom: 50px;
}
h1{
		position: absolute;
		/*grid-column-start: 1;*/
		/*grid-row-start: 1;
		grid-row-end: 2;*/
		margin-top:0px;
		margin-bottom: 200px;
		color: #FCC5C5;
		font-size:16px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
	}
nav{
		/*grid-column-start: 2;*/
		margin-left: 83%;
		/*display: flex;
		align-items: flex-start;*/
		/*grid-template-rows: 50px 50px 50px 50px;*/
		/*grid-template-rows: 50px 50px 50px 50px;*/
  	}
#nav1{
	text-decoration: underline;
}
nav a{	
	 	/*grid-row:1/5;*/
	 	display: flex;
		align-items: flex-start;
  		color: #292929;
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		margin-right: 0px;
		margin-bottom: 20px;
	}
nav a:link{
	text-decoration: none;
}
nav a:visited{
	color:#292929;
}
nav a:hover{
	color:#292929;
	text-decoration: underline;
}
h3 {
	display: none;
}
h4 {
	display: none;
}
h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
}
.maincontent{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
#jumptocontent {
	color: #FCC5C5;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	}
#codedby{
	color: #999999;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 30px;
	}


@media screen and (orientation:landscape){
	header{
		margin-top:0px;
		margin-bottom:0px;
	}
	nav a{
		margin-bottom:10px;
	}
	h2{
		font-family: 'Open Sans', sans-serif;
		margin-top: 0px;
}
}
@media only screen and (min-width:600px){
	 header{
	  margin-bottom:40px;
	 }
	 h1{
	  font-size:19px;
	 }
	 nav{
	  /*grid-column-start: 2;*/
	  margin-left: 30%;
	  display: flex;
	  flex-direction: row;
	 }
	 nav a:link{
	  font-size:19px;
	  margin-right: 8%;
	 }
	 nav a:visited{
	  font-size:19px;
	  margin-right:8%;
	 }
	 nav a:hover{
	  font-size:19px;
	  margin-right:8%;
	  color:#292929;
	  text-decoration: underline;
	 }
	h3{
		font-family: 'Open Sans', sans-serif;
		font-size:19px;
		font-weight: 400;
		display:block;
		position:absolute;
		margin-top: 140px;
	 }
	h4{
		font-family: 'Open Sans', sans-serif;
		font-size:19px;
		font-weight: 400;
		color: #999999;
		display:block;
		position:absolute;
		margin-top: 175px;
	 }
	 h2{
	 	font-family: 'Open Sans', sans-serif;
	  	font-size: 70px;
	  	margin-left:30%;
	  	margin-top: 130px;
		margin-bottom: 0px;
	 }
	 .introduction p{
	  display:inline-block;
	  font-family: 'Open Sans', sans-serif;
	  font-size:19px;
	  margin-left:30%;
	  margin-top: 30px;
	  margin-right: 10px;
	  margin-bottom: 50px;
	 }
	 /*.workbanner{
	  display:grid;
	  grid-template-columns: 1fr 1fr;

	 }
	 img{
	  width:96%;
	  margin-right:10px;
	  margin-top:10px;
	 }
	 .workbanner > div + a{
	  width:30vw;
	 }*/
	 /*h3{
	  font-size:19px;
	 }
	 h3 a:link {
	  color:#292929;
	 }
	 h3 a:visited{
	  color:#292929;
	  text-decoration: none; 
	 }
	 h3 a:hover{
	  color:#292929;
	  text-decoration: underline;
	 }*/
	 /*h4{
	  font-size:19px;
	 }
	}*/

@media screen and (min-width: 992px){
	 nav{
	  /*grid-column-start: 2;*/
	  margin-left: 33.5%;
	  display: flex;
	  flex-direction: row;
	 }
	 nav a:link{
	  font-size:19px;
	  margin-right: 100px;
	 }
	 nav a:visited{
	  font-size:19px;
	  margin-right: 100px;
	 }
	 nav a:hover{
	  font-size:19px;
	  margin-right: 100px;
	  color:#292929;
	  text-decoration: underline;
	 }
	 h2{
		margin-left:33.5%;
	 	 font-size:80px;
	 }
	 .introduction p{
	 	 margin-left:33.5%;
	 }
	#critique{
		padding:5%;
	 	display: flex;
	 	justify-content: space-around;
	 	background-color: #f3f3f3;
	 }
	#critique img{
	 	width:30%;
	 	align-self: center;
	 }
	.critique p{
		display:inline-block;
	  	font-family: 'Open Sans', sans-serif;
	  	font-size:19px;
	  	margin-left:30%;
	 	margin-top: 30px;
	 	margin-right: 10px;
	 	margin-bottom: 50px;
	 }
	/* .workbanner{
	  display:grid;
	  grid-template-columns: 1fr 1fr 1fr;

	 }*/
	 h5{
	 	font-size: 19px;
	 	margin-bottom: 15px;
	 }
	 .maincontent{
	 	font-size: 19px;
	 	margin-top: 10px;
	 }

}